.table-wrapper {
    overflow: hidden;
}

.curriculum-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
}

.curriculum-grid > .subject:nth-child(4n + 3),
.curriculum-grid > .subject:nth-child(4n + 4) {
    background-color: #e5e5e5;
}

.curriculum-grid > .subject:nth-child(4n + 1),
.curriculum-grid > .subject:nth-child(4n + 2) {
    background-color: #d5d5d5;
}

.curriculum-header {
    font-weight: bold;
    text-align: center;
    background-color: #278fff;
    padding: 10px;
    color: white;
}

.subject {
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px;
}

.description {
    display: none;
    padding: 10px;
    margin-top: 10px;
}
