html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.container {
    padding: 5px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 10px 0 10px 0;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 10px #333;
    background-color: #278fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.image-gallery div {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fff;
}

.intro__title {
    margin: 10px 0 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.footer__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.footer__link:hover {
    color: #fff;
}

.footer__link:hover:after,
.footer__link.active:after {
    opacity: 1;
}

.footer__link.active {
    color: #fff;
}

.footer-copyright {
    font-size: 14px;
}

@media (max-width: 850px) {
    .footer-copyright {
        display: none;
    }
}

.footer-performance {
    font-size: 14px;
}