{{ define "interview_page" }}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{.Interview.Title}}</title>
  <link rel="stylesheet" href="../static/style/style.css">
  <link rel="stylesheet" href="../static/style/albums.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext"
        rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="../static/script/header.js"></script>
  <script src="../static/script/interviews.js"></script>
  <script src="../static/script/performance.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
  <script src="../static/script/auth.js"></script>

</head>
<body>
{{template "header" .}}
{{template "interview" .}}
{{template "footer" .}}
</body>
</html>
{{ end }}
