{{ define "interviews" }}
<main class="main">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Разработка программного обеспечения</h1>
        </div>
        <h2>Интервью</h2>
    </div>
    <div class="container">
        <div id="preloader" class="hidden"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper" id="gallery">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div id="error-message" class="hidden"></div>
        <div id="adminControls" style="display: none;">
            <h2>Admin Controls</h2>
            <h3>Add interview</h3>
            <form id="addSubjectForm" class="form">
                <input type="text" id="addTitle" class="input" placeholder="Title"/>
                <textarea id="addText" class="input" placeholder="Text"></textarea>
                <button type="button" class="button" onclick="addInterview()">Add Interview</button>
            </form>
        </div>
    </div>
</main>
{{ end }}